PORT=5000
DATABASE_URL=postgresql://postgres:password@localhost:5432/allopanier
JWT_SECRET=allopanier_secret_jwt_2024_changez_en_prod
JWT_EXPIRES=7d
ADMIN_EMAIL=admin@allopanier.bj
ADMIN_PASSWORD=Admin@2024
UPLOADS_DIR=uploads
